

@{
    Layout = null;
}
<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@Html.Partial("PartialHead")
<body>
    @Html.Partial("Navbar")
    <!-- Slider -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top1">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8">
                                        <h2>Auto transport to fill</h2>
                                        <h4>Kamyon Alanı</h4>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">Ulaşımımız Hakkında Daha Fazla Bilgi</a>
                                        </div>
                                        <div class="bannergrids">
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-ship" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="banner-form-agileinfo">
                                            <h5>Need To <span>Transport</span>?</h5>
                                            <p>

                                            </p>
                                            <form action="#" method="post">
                                                <input type="text" class="email" name="name" placeholder="Name" required="">
                                                <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                                <select class="form-control option-w3ls">
                                                    <option>Nakliye </option>
                                                    <option>Albania</option>
                                                    <option>Belgium</option>
                                                    <option>Cameroon</option>
                                                    <option>Dominica</option>
                                                    <option>France</option>
                                                    <option>Jersey</option>
                                                </select>
                                                <select class="form-control option-w3ls">
                                                    <option>Transport To</option>
                                                    <option>Colombia</option>
                                                    <option>Indonesia</option>
                                                    <option>Japan</option>
                                                    <option>Lebanon</option>
                                                    <option>Luxembourg</option>
                                                    <option>Montserrat</option>
                                                </select>
                                                <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8">
                                        <h3>independent Carriers</h3>
                                        <h4>auto shipping</h4>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                        </div>
                                        <div class="bannergrids">
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-ship" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="banner-form-agileinfo">
                                            <h5>Need To <span>Transport</span>?</h5>
                                            <p>
                                                Ut enim ad minima veniam, quis nostrum
                                                exerc ullam corporis nisi ut aliqui
                                            </p>
                                            <form action="#" method="post">
                                                <input type="text" class="email" name="name" placeholder="Name" required="">
                                                <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                                <select class="form-control option-w3ls">
                                                    <option>Transport From</option>
                                                    <option>Albania</option>
                                                    <option>Belgium</option>
                                                    <option>Cameroon</option>
                                                    <option>Dominica</option>
                                                    <option>France</option>
                                                    <option>Jersey</option>
                                                </select>
                                                <select class="form-control option-w3ls">
                                                    <option>Transport To</option>
                                                    <option>Colombia</option>
                                                    <option>Indonesia</option>
                                                    <option>Japan</option>
                                                    <option>Lebanon</option>
                                                    <option>Luxembourg</option>
                                                    <option>Montserrat</option>
                                                </select>
                                                <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top3">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8">
                                        <h3>Streamer loads in</h3>
                                        <h4>large Carriers</h4>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                        </div>
                                        <div class="bannergrids">
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-ship" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="banner-form-agileinfo">
                                            <h5>Need To <span>Transport</span>?</h5>
                                            <p>
                                                Ut enim ad minima veniam, quis nostrum
                                                exerc ullam corporis nisi ut aliqui
                                            </p>
                                            <form action="#" method="post">
                                                <input type="text" class="email" name="name" placeholder="Name" required="">
                                                <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                                <select class="form-control option-w3ls">
                                                    <option>Transport From</option>
                                                    <option>Albania</option>
                                                    <option>Belgium</option>
                                                    <option>Cameroon</option>
                                                    <option>Dominica</option>
                                                    <option>France</option>
                                                    <option>Jersey</option>
                                                </select>
                                                <select class="form-control option-w3ls">
                                                    <option>Transport To</option>
                                                    <option>Colombia</option>
                                                    <option>Indonesia</option>
                                                    <option>Japan</option>
                                                    <option>Lebanon</option>
                                                    <option>Luxembourg</option>
                                                    <option>Montserrat</option>
                                                </select>
                                                <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top2">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8">
                                        <h3>Kara Yolu</h3>
                                        <h4> Nakliye Hizmeti</h4>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">Faaliyetlerimiz Hakkında Daha Fazla Bilgi</a>
                                        </div>
                                        <div class="bannergrids">
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                                <p>Kamyon Taşımacılığı</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-ship" aria-hidden="true"></i>
                                                <p>Gemi Taşımacılığı</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <p>Standart Kargo Hizmeti</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="banner-form-agileinfo">
                                            <h5> <span>Transfer Adresinizi Giriniz? </span>?</h5>

                                            <form action="#" method="post">
                                                <input type="text" class="email" name="name" placeholder="İsim" required="">
                                                <input type="tel" class="tel" name="tel" placeholder="Telefon Numarası" required="">
                                                <select class="form-control option-w3ls">
                                                    <option>Transfer Çıkış Adresi</option>
                                                    <option>Albania</option>
                                                    <option>Belgium</option>
                                                    <option>Cameroon</option>
                                                    <option>Dominica</option>
                                                    <option>France</option>
                                                    <option>Jersey</option>
                                                </select>
                                                <select class="form-control option-w3ls">
                                                    <option>Transfer Varış Adresi</option>
                                                    <option>Colombia</option>
                                                    <option>Indonesia</option>
                                                    <option>Japan</option>
                                                    <option>Lebanon</option>
                                                    <option>Luxembourg</option>
                                                    <option>Montserrat</option>
                                                </select>
                                                <input type="submit" class="hvr-shutter-in-vertical" value="Başlayalım">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="w3layouts-banner-top w3layouts-banner-top4">
                        <div class="banner-dott">
                            <div class="container">
                                <div class="slider-info">
                                    <div class="col-md-8">
                                        <h3>Goods Carrying Train</h3>
                                        <h4>Truck shipping</h4>
                                        <div class="w3ls-button">
                                            <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                        </div>
                                        <div class="bannergrids">
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-truck" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-ship" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="col-md-4 grid1">
                                                <i class="fa fa-bus" aria-hidden="true"></i>
                                                <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="banner-form-agileinfo">
                                            <h5>Need To <span>Transport</span>?</h5>
                                            <p>
                                                Ut enim ad minima veniam, quis nostrum
                                                exerc ullam corporis nisi ut aliqui
                                            </p>
                                            <form action="#" method="post">
                                                <input type="text" class="email" name="name" placeholder="Name" required="">
                                                <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                                <select class="form-control option-w3ls">
                                                    <option>Transport From</option>
                                                    <option>Albania</option>
                                                    <option>Belgium</option>
                                                    <option>Cameroon</option>
                                                    <option>Dominica</option>
                                                    <option>France</option>
                                                    <option>Jersey</option>
                                                </select>
                                                <select class="form-control option-w3ls">
                                                    <option>Transport To</option>
                                                    <option>Colombia</option>
                                                    <option>Indonesia</option>
                                                    <option>Japan</option>
                                                    <option>Lebanon</option>
                                                    <option>Luxembourg</option>
                                                    <option>Montserrat</option>
                                                </select>
                                                <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //Slider -->
    <!-- bootstrap-modal-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Transporters
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/Templates/ui/web/images/bg3.jpg" alt=" " class="img-responsive" />

                </div>
            </div>
        </div>
    </div>
    <!-- //bootstrap-modal-pop-up -->
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="col-md-7 bannerbottomleft">
            <div class="video-grid-single-page-agileits">
                <div data-video="d3q5mRA5djY" id="video"> <img src="~/Templates/ui/web/images/bg2.jpg" alt="" class="img-responsive" /> </div>
            </div>
        </div>
        <div class="col-md-5 bannerbottomright">
            <h3>Nasıl Çalışıyoruz?</h3>
            <p>
                En küçük ayrıntısına kadar, her şeyi düşünüyoruz.
            </p>
            <h4><i class="fa fa-taxi" aria-hidden="true"></i>Uluslararası Taşımacılık Teslim Sistemi</h4>
            <h4><i class="fa fa-shield" aria-hidden="true"></i>Hızlı ve En İyi Teslimat Hizmeti</h4>
            <h4><i class="fa fa-ticket" aria-hidden="true"></i>Standart Kurye Hizmeti</h4>
            <h4><i class="fa fa-space-shuttle" aria-hidden="true"></i>Kolay ve Otomatik Kargo Hizmeti</h4>
            <h4><i class="fa fa-truck" aria-hidden="true"></i>Paketleme ve Depolama</h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner-bottom -->
    <!-- team -->
    <div class="team" id="team">
        <div class="container">
            <div class="heading">
                <h3>Bayilerimiz</h3>
            </div>
            <div class="wthree_team_grids">
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/Templates/ui/web/images/team1.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h6>Taşıyıcı</h6>
                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Max Payne</h4>
                    <p>Nakliye Bayisi</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/Templates/ui/web/images/team2.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h6>Transporters</h6>
                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Michael Lii</h4>
                    <p>Nakliye Bayisi</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/Templates/ui/web/images/team3.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h6>Transporters</h6>
                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Mark</h4>
                    <p>Nakliye Bayisi</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/Templates/ui/web/images/team4.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h6>Transporters</h6>
                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>John smith</h4>
                    <p>Nakliye Bayisi</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- Clients -->
    @Html.Action("PartialTestimonial")
    <!-- //Clients -->
    <!-- Counter -->
    @Html.Action("PartialStatistic")
    <div class="clearfix"> </div>
    <!-- //Counter -->
    <!-- our blog -->
    <section class="blog" id="blog">
        <div class="container">
            <div class="heading">
                <h3>Son Haberler</h3>
            </div>
            <div class="blog-grids">
                <div class="col-md-4 blog-grid">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="~/Templates/ui/web/images/bg4.jpg" alt="" /></a>
                    <h5>June 10,2017</h5>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Road Way Transport</a></h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 blog-grid">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="~/Templates/ui/web/images/bg7.jpg" alt="" /></a>
                    <h5>June 17,2017</h5>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Water Way Transport</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat tristique.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 blog-grid">
                    <a href="#" data-toggle="modal" data-target="#myModal"><img src="~/Templates/ui/web/images/bg8.jpg" alt="" /></a>
                    <h5>June 26,2017</h5>
                    <h4><a href="#" data-toggle="modal" data-target="#myModal">Rail Transport</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>
                    <div class="readmore-w3">
                        <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <!-- //our blog -->
    <!-- footer -->
    <footer>
        <div class="agileits-w3layouts-footer">
            <div class="container">
                <div class="col-md-4 w3-agile-grid">
                    <h5>Hakkımızda</h5>Kara , Deniz ve Hava Taşımacılığı ile Dünya'nın her yerine hizmet veren, bir Lojistik firmasıyız. </p>
                    <div class="footer-agileinfo-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 w3-agile-grid">
                    <h5>Adres</h5>
                    <div class="w3-address">
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Telefon Numaramız:</h6>
                                <p>0(212) 212 12 12</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Mail Adresimiz</h6>
                                <p>Email :<a href="mailto:example@email.com"> mail@gmail.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-address-grid">
                            <div class="w3-address-left">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="w3-address-right">
                                <h6>Adres:</h6>
                                <p>
                                    İstanbul , Türkiye.
                                    Telefon : 0(212) 212 12 12
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 w3-agile-grid">
                    <h5>YAKIN ZAMANDA GÖNDERİLENLER</h5>
                    <div class="w3ls-post-grids">
                        <div class="w3ls-post-grid">
                            <div class="w3ls-post-img">
                                <a href="#"><img src="~/Templates/ui/web/images/p1.jpg" alt="" /></a>
                            </div>
                            <div class="w3ls-post-info">
                                <h6><a href="#" data-toggle="modal" data-target="#myModal">Donec vel sapien in erat</a></h6>
                                <p>June 10,2017</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3ls-post-grid">
                            <div class="w3ls-post-img">
                                <a href="#"><img src="~/Templates/ui/web/images/p2.jpg" alt="" /></a>
                            </div>
                            <div class="w3ls-post-info">
                                <h6><a href="#" data-toggle="modal" data-target="#myModal">Donec vel sapien in erat</a></h6>
                                <p>June 17,2017</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3ls-post-grid">
                            <div class="w3ls-post-img">
                                <a href="#"><img src="~/Templates/ui/web/images/p3.jpg" alt="" /></a>
                            </div>
                            <div class="w3ls-post-info">
                                <h6><a href="#" data-toggle="modal" data-target="#myModal">Donec vel sapien in erat</a></h6>
                                <p>June 26,2017</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3ls-post-grid">
                            <div class="w3ls-post-img">
                                <a href="#"><img src="~/Templates/ui/web/images/p1.jpg" alt="" /></a>
                            </div>
                            <div class="w3ls-post-info">
                                <h6><a href="#" data-toggle="modal" data-target="#myModal">Donec vel sapien in erat</a></h6>
                                <p>June 26,2017</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2022 Transporters. All rights reserved |</p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="~/Templates/ui/web/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Templates/ui/web/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script src="~/Templates/ui/web/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/Templates/ui/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/Templates/ui/web/js/easing.js"></script>
    <script type="text/javascript">jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});</script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});</script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- Baneer-js -->
    <script src="~/Templates/ui/web/js/responsiveslides.min.js"></script>
    <script>$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				pager:false,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});</script>
    <!-- //Baneer-js -->
    <!-- banner bottom video script -->
    <script src="~/Templates/ui/web/js/simplePlayer.js"></script>
    <script>$("document").ready(function() {
					$("#video").simplePlayer();
				});</script>
    <!-- //banner bottom video script -->
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="~/Templates/ui/web/js/waypoints.min.js"></script>
    <script src="~/Templates/ui/web/js/counterup.min.js"></script>
    <script>jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 100,
							time: 1000
						});
					});</script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    <!-- FlexSlider-JavaScript -->
    <script defer src="~/Templates/ui/web/js/jquery.flexslider.js"></script>
    <script type="text/javascript">$(function(){
			SyntaxHighlighter.all();
				});
				$(window).load(function(){
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
			});
		});</script>
    <!-- //FlexSlider-JavaScript -->
    <!-- //js-scripts -->
</body>
</html>
@RenderBody()

