
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<h2>İstatistikler</h2>
<h4>Toplam Sipariş Sayısı: @ViewBag.v1</h4>
<h4>1 numaralı müşterinin sipariş sayısı: @ViewBag.v2</h4>
<h4>Ankara'nın ID Değeri: @ViewBag.v3</h4>
<h4>Çıkış şehri Ankara olan sipariş sayısı: @ViewBag.v4</h4>
<h4>Siparişlerden kazanacağım toplam para: @ViewBag.v5</h4>
<h4>Ortalama sipariş tutarı: @ViewBag.v6</h4>
<h4>Kitap ürünün toplam tutarı: @ViewBag.v7</h4>



